<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">🔐 Iniciar Sesión</h2>

      <div class="card p-4">
        <form (ngSubmit)="login()">

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" placeholder="Correo" required />
          </div>

         
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Contraseña" required />
          </div>

          
          <button type="submit" class="btn btn-primary w-100">Ingresar</button>
          <p>
          <a href="#" (click)="recuperarContrasena()">¿Olvidaste tu contraseña?</a>
          </p>
          <p>
          ¿No tienes una cuenta?
          <a routerLink="/register">Crear una cuenta</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
